html,
body,
ul,
li,
h1,
p,
h2,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 100;
}

.estrutura {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header header"
        "sub sub sub"
        "main main main"
        "rodape rodape rodape";
}

* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}



/*HEADER*/


.header {
    grid-area: header;
    color: black;
    font-family: 'Russo One', sans-serif;
    padding: 1.563rem 0;
    justify-items: center;
    background-color: white;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.header a:visited {
    color: #000;
    text-decoration: none;
}

.header h1 {
    font-size: 3em;
}

.menu ul {
    display: flex;
    font-size: 1.5em;
}

.menu ul li {
    padding: 0.313rem 0;
}

.menu ul li+li {
    margin-left: 0.938rem;
}




.busca input {
    height: 2.875rem;
    padding: 0.938rem 0.625rem;
    font-family: 'Roboto', sans-serif;
    background: #F5EDED;
    border-radius: 0.313rem;
    border: 1px solid rgba(0, 0, 0, 4.8);
    color: black;
    font-size: 1.5em;
    max-width: 13.938rem;
}

#busca:focus{
    background: white;
}

#busca:focus::placeholder{
    color: transparent;
}

/*SUB-HEADER*/

.sub-header {
    background: #000;
    grid-area: sub;
    padding: 1.375rem 0;
}

.sub-header h1 {
    color: red;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    letter-spacing: 0.125rem;
    font-size: 1.5em;
    font-weight: 100;
}

.sub-header a:visited {
    color: red;
}

/*MAIN*/

.main {
    max-width: 59rem;
    display: grid;
    grid-template-columns: 27.688rem 22.563rem;
    margin: 1.5rem auto;
    grid-area: main;
    padding: 1.875rem;
    column-gap: 3rem;
    background: rgb(241, 241, 241);
    box-shadow: .5px 1px 3px gray;


    border-radius: 1px;
}

.main a:hover{
    text-decoration: underline;
}

.main h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 2.25em;
    text-transform: capitalize;
    margin-top: 2rem;
    border-bottom: 0.063rem solid;
}

.main h2 {
    font-size: 1.5em;
    font-family: 'Russo One', sans-serif;
    text-transform: capitalize;
}

/*NOTICIAS*/

.ultimas-noticias {
    display: flex;
    flex-direction: column;

}

.ultimas-noticias>a>img {
    max-width: 100%;
    display: block;
}


.noticia {
    display: flex;
    margin-top: 1.813rem;
}

.noticia-texto {
    width: 17.063rem;
    height: 9.313rem;
    margin-left: 0.875rem
}

.main h2 {
    font-size: 1.5em;
    font-family: 'Russo One', sans-serif;
    text-transform: capitalize;
}

.noticia-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

.noticia-texto a {
    color: #FF0000;
}

.noticia-texto h2 a{
    color: black;
}

.noticia-texto h2 a:hover{
    color: #FF0000;
    
}

.noticia-texto a+a {
    float: right;
}

.noticia-texto p {
    margin: 0.625rem 0;
}

/*POPULARES*/

.populares {
    display: flex;
    flex-direction: column;
}

.pop {
    display: flex;
    margin-top: 1.375rem;
}

.pop-texto {
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
}

.pop-texto a {
    text-transform: uppercase;
}

/*RODAPE*/

.rodape {
    max-width: 59rem;
    color: rgb(78, 78, 78);
    grid-area: rodape;
    margin: 0 auto 2rem auto;
    padding-left: 0.938rem;
    font-size: 0.875em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.rodape a:hover{
    text-decoration: underline;
}

.lista-titulo {
    font-weight: bold;
    font-size: 1em;
}

.icone{
height: 5rem;
width: 5rem;
}

.icone-imagem{
    height: 1.25rem;
    width: 1.25rem;
}

/*MISC*/

.header ul li a:hover{
color: #FF0000;
text-decoration: underline;
}
